body{
    /* background-color: rgb(235, 235, 192); */
}
.title{
    text-align: center;
}
.btn-generate{
    background-color: rgba(50, 179, 73, 0.886);
    height: 35px;
    text-decoration: solid;
    font-weight: bold;
    align-items: center;
}
.hero-section{
    text-align: center;
    margin: 15px;
    display: flex;
    justify-content: center;
    margin-top: 15px;;
}
.board-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;    
    flex-wrap: wrap;
    margin:auto;
}
.box{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 30px;
}
.generated{
    color: rgb(76, 138, 236);
    font-weight: bold;
}
.current{
    background-color: rgb(19, 154, 82);
    font-weight: bold;
    font-size: 45px;
}
.pace-section{
    display: none;
}
.play-section{
    display: none;
    justify-content: left;
    align-items: flex-start;
    align-self:flex-start;
}
.show-num{
    font-size: 60px;
    align-items:center;
    justify-content:center;
    color: rgb(32, 156, 18);
    display: none;
    right: 0;
    position: absolute;
    margin-right: 30px;
    align-self: center;
}
.btn-tambola{
    margin: auto;
    width: fit-content;
    padding:10px;
}

/* body {
    background-color: aqua;
} */

@media (max-width: 400px) {
    /* body {
        background-color: brown;
    } */
}
